<div>
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
    
    
  </p>
</div>

<div>

  <%if @user.favorite_style%>
  <p> Favorite style is: <%=@user.favorite_style.name%>
  <%else%>
    <p><%=@user.username%> does not have favorite style </p>
  <%end%>
  
  <%if @user.favorite_brewery%>
    <p> Favorite brewery is: <%=@user.favorite_brewery%>
  <%else%>
    <p><%=@user.username%> does not have favorite brewery </p>
  <%end%>

</div>
<div>
  
    <% if @user.memberships.count != 0%>
      <p>
      Belongs to <%=pluralize(@user.memberships.count,"beer club")%>,  
      <ul>
        <%@user.memberships.each do |member|%>
        <li> <%= member.to_s%>
        <%end%>
      </ul>
      </p>
    <% else%>
      <p><%=@user.username%> does not belong to any club</p>
    
    <%end%>

</div>
<div>
  <p>
    <strong>ratings</strong>

    <ul>
    <% if @user.ratings.count != 0 %>
    <p>
      <%=@user.username %> has made <%=pluralize(@user.ratings.count,"rating")%>, average rating <%=@user.average_rating%>
    </p>
     <% @user.ratings.each do |rating| %>
        <li><%= "#{rating.to_s}" %>
          <% if @user == current_user %>
            <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% else %>
    has not made any ratings
    <% end %>

  </p>
</div>

<% if @user == current_user %>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger" %>
</div>
<%end%>